body{
    background-color: black;
    color:white;
    font-family: 'Segoe UI', sans-serif;
}

.wd-container {
    border-right: 2px solid rgb(49,51,54);
    border-left: 2px solid rgb(49,51,54);
    margin: 0% 29.5% 0% 29.5%;
    display: flex; /* or inline-flex */
    flex-direction: column;
    background-color: black;
    justify-content: space-between;
    font-family: 'Segoe UI',sans-serif;
    color: white
}

.wd-A_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding-left: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-A__info{
    width: 90%;
}

.wd-A__options{
    width: 10%;
    color:rgb(29,161,242);
}

.wd-A__title{
    margin: auto;
    color:white;
    font-size: 20px;
}

.wd-A__handle{
    margin:auto;
    color: lightgray;
    font-size:13px;
}

.wd-post_container{
    padding-left: 16px;
    padding-top: 12px;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    border-bottom:  1px solid rgb(47, 51, 54); ;
}

.wd-B__profile-img{
    border-radius: 48px;
    height: 48px;
    width: 48px;
}

.wd-mid-segment-container{
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    width: 90%;
}

.wd-C_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wd-C__profile-info{
    width: 88%;
}

.wd-C__profile-info > h4,h3{
    display: inline;
}

.wd-C__profile-name{
    color:white;
    font-size: 15px;
}

.wd-C__handle-name{
    color: lightgrey;
    font-size: 15px;
}

.wd-C__post-date{
    color:lightgrey;
}

.wd-C__options{
    width: 10.8%;
}

.wd-D__text{
    text-align: justify;
    text-justify: inter-word;
    margin: 0px;
    max-width: 506px;
    padding-right: 16px;
    padding-bottom: 12px;
}

.wd-E-F__container{
    border: 1px solid rgb(47, 51, 54);
    border-radius: 10px;
    width: 100%;

}

.wd-E__image > img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.wd-F__title{
    margin:auto;
    padding: 12px;
    font-size: 15px;

}

.wd-F__text{
    padding: 0px 12px 12px 12px;
    margin:auto;
    color:rgb(47, 51, 54) ;
}

.wd-G_container{
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.wd-post-info{
    margin: auto;
}

a:link{
    text-decoration: none;
}

.wd-icons{
    color: lightgrey;
}

.wd-numbers{
    padding-left: 12px;
}

.wd-post-info{
    display: flex;
    flex-direction: row;
}

.wd-link{
    color: lightgrey;
}
.red{
    color:red;
}

.wd-pd-5{
    padding-left: 5%;
}


.wd-tweet-btn{
    width: 100%;
    margin-top: 15px;
    text-align: center;
    padding: 0px;
}

.wd-bg-fg{
    color: white;
    background-color: #2c3034;
}